body {
  background-image: url("images/julian-hochgesang-7SV4cz3UFEI-unsplash.jpg");
  background-size: cover; /* This makes the image cover the entire page */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Makes the background stay fixed when you scroll */
  background-position: center; /* Centers the image */
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.3
  ); /* This adds a semi-transparent black overlay */
  z-index: -1; /* Ensures the overlay is behind other content */
}
